# created by virtualenv automatically
# fr/*
/fr/re/*
/bk/myenv/Lib
/bk/myenv/pyvenv.cfg

/bk/myenv/Scripts/*
!/bk/myenv/Scripts/manage.py
!/bk/myenv/Scripts/tweet

!/bk/myenv/Scripts/tweet/
!.gitignore

!/fr/re/public/
!/fr/re/src/


